.Weather {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 1px solid #dadde1;
  padding: 40px;
  margin: 0 200px;
  border-radius: 8px;
  text-align: left;
  background-image: url(pix.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Weather h1 {
  font-size: 35px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 30px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.form-control {
  border: 1 solid #000;
  border-radius: 5px;
  block-size: 40px;
}

.btn {
  cursor: pointer;
}

.hm {
  text-align: right;
}

.container {
  text-align: center;
}
